.sectionHero {
  overflow-x: hidden;

  .heroContainer {
    width: 100%;
    // height: calc(100vh - var(--nav-height));

    .heroContainerBox {
      display: flex;
      justify-content: center;

      .columnLeft {
        min-width: 30vw;
        position: relative;
        z-index: 10;

        .image1 {
          position: absolute;
          right: 2rem;
          top: 5%;
          z-index: 20;
          transform: scale(1.5) translate3d(-110%, -95%, 0);
          opacity: 0;
          animation: heroanimation 2s ease 0s 1 normal forwards;
        }

        .image2 {
          position: absolute;
          right: 4rem;
          bottom: -25%;
          z-index: 15;
          transform: scale(1.2) translate3d(-75%, -30%, 0);
          opacity: 0;
          animation: heroanimation 2s ease 0s 1 normal forwards;
        }
      }

      .columnMiddle {
        min-width: 40vw;
        text-align: center;

        .image3 {
          position: relative;
          z-index: 50;
          transform: scale(1.3) translate3d(0, -100%, 0);
          //   height: 20rem;
          //   width: auto;
          display: inline-block;
          opacity: 0;
          animation: heroanimation 2s ease 0s 1 normal forwards;

          .hero_iPhone {
          }
        }

        .heroTextBox {
          margin: 4rem 0;
          position: relative;
          z-index: 50;

          .heroText {
            font-family: var(--sf-pro-text_bold);
            font-size: 28rem;
            background: linear-gradient(
              121deg,
              #d400a5 24%,
              #7040b9 35%,
              #2b6ec7 41%,
              #35ffee 60%
            );
            background-size: 300% 100%;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: herogradient 3s cubic-bezier(0.33, 1, 0.68, 1) 0s 1
              normal forwards;
          }
        }

        .image4 {
          position: relative;
          z-index: 50;
          transform: scale(1.3) translateY(50%);
          display: inline-block;
          opacity: 0;
          animation: heroanimation 2s ease 0s 1 normal forwards;
        }
      }

      .columnRight {
        min-width: 30vw;
        position: relative;
        z-index: 10;

        .image5 {
          position: absolute;
          top: 2%;
          left: 4rem;
          z-index: 15;
          transform: scale(1.3) translate3d(88%, -107%, 0);
          opacity: 0;
          animation: heroanimation 2s ease 0s 1 normal forwards;
        }

        .image6 {
          position: absolute;
          bottom: 4rem;
          left: 2rem;
          z-index: 15;
          transform: scale(1.3) translate3d(107%, -45%, 0);
          opacity: 0;
          animation: heroanimation 2s ease 0s 1 normal forwards;
        }
      }
    }

    .heroParaBox {
      position: relative;
      z-index: 50;
      margin-top: 15%;
    }
  }
}
